.dashboard-row {
  display: flex;
  gap: 1rem;
}

.dashboard-card {
  &.cluster-member,
  &.storage-pools,
  &.storage-volumes {
    flex: 1;
  }

  &.instances {
    .p-card__title {
      i {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    .p-card__content {
      align-items: center;
      display: flex;
      gap: 2rem;

      .group-by-type-container,
      .group-by-status-container {
        flex: 1;
      }

      .group-by-status-container {
        .group-by-status {
          border-left: solid 5px #0e8420;
          padding-left: 1rem;

          &.running {
            border-color: #0e8420;
          }

          &.stopped {
            border-color: #000000;
          }

          &.pending {
            border-color: var(--vf-color-border-caution);
          }

          &.error {
            border-color: #c7162b;
          }

          p.status-label {
            margin-bottom: 0.5rem;
          }

          .status-count {
            font-size: 1.5rem;
          }
        }
      }

      .group-by-type-container {
        align-items: center;
        display: flex;
        flex-direction: column;

        .dot {
          border-radius: 50%;
          display: inline-block;
          height: 0.5rem;
          margin-right: 0.5rem;
          width: 0.5rem;
        }

        span {
          white-space: nowrap;
        }
      }
    }
  }
}
